*{
    /* text-align: center; */
}

.search-container {
    background-color: #f9f9f9;
    border: 1px solid #041bed;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    /* padding-left: 20px; */
    max-width: 600px;
    /* text-align: center; */
    margin: 20px;
  }
  
  h2 {
    /* text-align: center; */
    color: #333;
    font-size: 1.8rem;
    margin-bottom: 15px;
  }
  
  .search-input {
    width: 30vw;
    padding: 10px 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 15px;
    font-size: 1rem;
    outline: none;
    transition: border 0.3s;
  }
  
  .search-input:focus {
    border-color: #0078d7;
  }
  
  .search-results {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .search-result-item {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 8px 0;
    padding: 10px 15px;
    transition: transform 0.2s, box-shadow 0.2s;
  }
  
  .search-result-item:hover {
    transform: scale(1.02);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  }
  
  strong {
    color: #0078d7;
  }
  